<section>
  <form-group label="Salary">
    <input
      type="text"
      ng-model="person.salary"
      class="small money"
      format-money
      selection-on-focus
      restrict-keys="{'keys' : [48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58]}"
      name="salary"
      validate-money="{'min' : 0, 'max' : 1000000}"/>
    <div ng-messages="form.salary.$error" ng-if="form.salary.$dirty">
      <span class="help-block" ng-message="range">Enter a value between £0 and £1,000,000</span>
    </div>
  </form-group>

  <form-group label="Partner's salary">
    <input
      type="text"
      ng-model="person.partnersSalary"
      class="small money"
      format-money
      selection-on-focus
      restrict-keys="{'keys' : [48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58]}"
      name="partnersSalary"
      validate-money="{'min' : 0, 'max' : 1000000}"/>

    <div ng-messages="form.partnersSalary.$error" ng-if="form.partnersSalary.$dirty">
      <span class="help-block" ng-message="range">Enter a value between £0 and £1,000,000</span>
    </div>
  </form-group>

  <form-group label="Service to date">
    <input
      type="text"
      ng-model="person.serviceToDate",
      class="small"
      selection-on-focus
      ui-mask="99/99"
      restrict-keys="{'keys' : [48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58]}"
      name="serviceToDate"
      />
    <div ng-messages="form.partnersSalary.$error" ng-if="form.partnersSalary.$dirty">
      <span class="help-block" ng-message="range">Enter a value between £0 and £1,000,000</span>
    </div>
  </form-group>


</section>