<section>
  <form-group label="Address">
    <input type="text" placeholder="Line 1" required ng-model="address.line1" maxlength="40" class="large"/>
  </form-group>

  <form-group>
    <input type="text" placeholder="Line 1" ng-model="address.line2" maxlength="40" class="large"/>
  </form-group>

  <form-group>
    <input type="text" placeholder="Line 3" ng-model="address.line3" maxlength="40" class="large"/>
  </form-group>

  <form-group>
    <input type="text" placeholder="Post town" maxlength="40" ng-model="address.postTown"  class="large" required/>
  </form-group>

  <form-group>
    <input type="text" placeholder="Postcode" maxlength="8" ng-model="address.postcode" class="small" required/>
  </form-group>
</section>