<section>
  <form-group label="First name">
    <input type="text" ng-model="person.firstName" required name="firstName" maxlength="80" class="large"/>
  </form-group>

  <form-group label="Middle names">
    <input type="text" ng-model="person.middleNames" name="middleNames" maxlength="80" class="large"/>
  </form-group>

  <form-group label="Last name">
    <input type="text" ng-model="person.lastName" required name="lastName" maxlength="80" class="large"/>
  </form-group>

  <form-group label="Date of birth">
    <input type="text" ui-mask="99/99/9999" validate-date="validateDateOptions" ng-model="person.birthDate" name="birthDate" class="date"/>
    <div ng-messages="form.birthDate.$error">
      <span class="help-block" ng-message="range">The birth date is not valid</span>
    </div>
  </form-group>



</section>